@media all and (min-width:320px)and (max-width: 480px) {
    .img_logo{
        width: 200px;
            margin:auto;
            padding-top: 15px;
    }
    #header{
        padding-left: 25px;
    }
    .img_logo img{
        width: 200px;
    }
    .title h1{
        left: 30%;;
    }
    .title h4{
        left: 23%;
    }
    .introduce {
        margin: 50px 0px 65px 0px;
        flex-direction: column;
        align-items: center;
    }
    .introduce-sub h1{
        margin-top: 20px;
    }
    .introduce-img{
        width: 100% !important;
        padding: 0px 0px 0px 0px;
    }
    .introduce-img img{
        width: 100%;
        height: 320px;
    }
    .service {
        padding: 50px 5px 65px 5px;
        flex-direction: column;
        align-items: center;
    }
    .service-left{
        width: 100%;
        margin-top: 50px;
    }
    .service-right {
        max-width: 100%;
        padding: 0 5px;
    }
    
    .service-right img {
        width: 100%;
        height: 300px;
    }
    .customer-child {
        height: 550px;
        margin: 0 0px 70px 0px;
        flex-direction: column;
        align-items: center;
    }
    .footer-item-list>.logo-footer {
        width: 170px;
    }
    .footer-item {
        flex-wrap: wrap;
        padding: 5px 0;
    }
    .footer-item-list {
        width: 99%;
        margin-left: 20px;
    }
    .footer-item-list:first-child{
        margin-left: 40px;
    }
    
 }
@media all and (min-width: 480px) and (max-width: 768px) {
    .img_logo{
        margin-left: 25%;
    }
    .title h1{
        left: 43%;;
    }
    .title h4{
        left: 35%;
    }
    .introduce {
        margin: 50px 0px 65px 0px;
        flex-direction: column;
        align-items: center;
    }
    .introduce-sub h1{
        margin-top: 20px;
    }
    .introduce-img{
        width: 100% !important;
    }
    .introduce-img img{
        width: 100%;
        height: 450px;
    }
    .service {
        padding: 50px 5px 65px 5px;
        flex-direction: column;
        align-items: center;
    }
    .service-left{
        width: 100%;
        margin-top: 50px;
    }
    .service-right{
        max-width: 100%;
    }
    .service-right img{
        height: 500px;
    }
    .customer-child {
        height: 500px;
        margin: 0 0px 70px 0px;
        flex-direction: column;
        align-items: center;
    }
    .footer-item{
        flex-wrap: wrap;
    }
    .img-child .img-footer img {
            width: 70px;
        }
    .img-child {
            padding: 5px 12px 0 20px;
        }
    .footer-item-list {
            width: 45%;
            margin-left: 25px;
        }
}
@media all and (min-width: 769px) and (max-width: 1023px) {
    
    #header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main{
        margin: 0 20px;
    }
    .img_logo {
        width: 20%;
    }
    .img_logo img{
        width: 255px;
    }
    .title h1{
        left: 44%;;
    }
    .title h4{
        left: 40%;
    }
    .introduce {
        margin: 50px 0px 65px 0px;
        flex-direction: column;
        align-items: center;
    }
    .introduce-sub h1{
        margin-top: 20px;
    }
    .introduce-img{
        width: 100% !important;
        padding: 0px 10px
    }
    .introduce-img img{
        width: 100%;
        height: 500px;
    }
    .service {
        padding: 50px 5px 65px 5px;
        flex-direction: column;
        align-items: center;
    }
    .service-left{
        width: 100%;
        margin-top: 50px;
    }
    .service-right {
        max-width: 100%;
        padding: 0 10px;
    }
    
    .service-right img {
        width: 100%;
        height: 500px;
    }
    .customer-child {
        height: 400px;
        margin: 0 0px 70px 0px;
        flex-direction: column;
        align-items: center;
    }
    .footer-item{
        flex-wrap: wrap;
    }
    .img-child .img-footer img {
            width: 70px;
        }
    .img-child {
            padding: 5px 12px 0 20px;
        }
    .footer-item-list {
            width: 45%;
            margin-left: 25px;
        }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    #header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main{
        margin: 0 20px;
    }
    .header-right{
        width: 100%;
    }
    #input-search{
        right: 30px;
    }
    .title h1{
        left: 43%;;
    }
    .title h4{
        left: 40%;
    }
    .customer-child{
        margin: 0 40px 70px 40px;
    }

    .img-child .img-footer img {
            width: 70px;
        }
    .img-child {
            padding: 5px 12px 0 20px;
        }
    .footer-item-list {
            width: 25%;
            margin-left: 25px;
        }
 }



/* mobile */
@media(max-width:950px){
    .nav__bars-btn{
        display: block;
    }
    .main{
        display: none;
    }
    .header-right{
        display: none;
    }
    #header{
        opacity: 1 !important;
    }
    
}