/*Reset.css*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/*-----*/

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

body {
    background-color: #fff;
}

.colorgold {
    color: goldenrod;
}

.btn {
    background-color: #ffb606;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    height: 35px;
}

.btn a {
    color: #fff !important;
    font-weight: 700;
}

.btn a:hover {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #c98e05;
}

.main {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e7e7e7;
    margin: 0 70px;
}

.main i {
    font-size: 20px;
    color: #000;
    margin-top: 5px;
}

.main i:hover {
    opacity: 0.3;
}

.main a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.main>.info-left>a {
    color: #898989;
    font-size: 15px;
    text-decoration: none;
    padding: 0 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.main .info-left a:hover {
    color: gold;
}

.main>.info-right>a {
    padding: 10px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#header {
    width: 100%;
    height: 90px;
    font-weight: 800;
    background: #fff;
    display: flex;
    z-index: 1;
    padding-left: 70px;
    padding-right: 70px;
}

#header button {
    margin-top: 30px;
}

.img_logo {
    top: 0;
    height: 70px;
    margin-top: 20px;
    width: 40%;
    margin: auto;
}

.img_logo img {
    width: 300px;
}

.header-right {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

#nav {
    display: block;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#nav li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

#nav li a {
    display: block;
}

#nav>li>a {
    padding: 44px 10px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    color: #000;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

#nav li a:hover {
    color: gold;
}

div.search {
    padding: 40px 20px 30px;
    font-size: 20px;
}

.header-right button {
    background-color: #ffb606;
}

.header-right button a {
    color: #fff;
    font-weight: 700;
}

div.search i:hover {
    color: rgb(255, 182, 6);
}

div.search:hover #input-search {
    display: flex;
    color: #000;
}

#input-search::after, #input-search:before {
    content: "";
    display: block;
    position: absolute;
    left: 36.6%;
    width: 0;
    height: 0;
    border-style: solid;
}

#input-search:after {
    left: 82px;
    top: -20px;
    border-color: transparent transparent white;
    border-width: 10px;
    left: 83px;
}

#input-search:before {
    top: -23px;
    border-color: transparent transparent #a3a1a1;
    border-width: 11px;
}

#input-search {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -68px;
    right: 80px;
    z-index: 1;
    width: 225px;
    height: 80px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #a3a1a1;
}

#input-search i {
    display: flex;
    position: absolute;
    right: 15px;
    width: 40px;
    height: 35px;
    background: #ffb606 !important;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#input-search i:hover {
    background-color: rgb(163, 115, 2);
}

#input-search input {
    width: 100%;
    font-size: 12px;
    width: 194px;
    height: 37px;
    border: 1px solid #c0bebe;
}

.title img {
    filter: brightness(70%);
    height: 200px;
    width: 100%;
}

.title {
    position: relative;
}

.title h1 {
    position: absolute;
    z-index: 999;
    font-size: 25px;
    bottom: 115px;
    color: #fff;
    font-weight: 700;
    left: 600px;
}

.title h4 {
    position: absolute;
    z-index: 999;
    font-size: 16px;
    bottom: 80px;
    color: #fff;
    left: 570px;
}

.introduce {
    display: flex;
    margin: 50px 50px 65px 65px;
}

.introduce-img {
    padding: 0px 20px 0px 20px;
}

.introduce-sub {
    color: #898989;
    line-height: 1.6;
    padding: 0px 20px 0px 20px;
    letter-spacing: 0.9px;
}

.introduce-sub h1 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
}

.introduce-sub p {
    margin-bottom: 20px;
}

.btn-contact {
    width: 140px;
    height: 35px;
    border: 2px solid #898989;
    color: #000;
    font-weight: 650;
    font-size: 15px;
}

.btn-contact:hover {
    background-color: #ffb606;
}

.text-service h1 {
    text-align: center;
    margin-bottom: -75px;
    font-size: 32px;
    font-weight: 700;
}

.service {
    background-color: rgb(247, 242, 242);
    display: flex;
    padding: 50px 50px 65px 65px;
    padding-top: 135px;
}

.service h1 {
    padding-top: 50px;
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

.service-left {
    padding: 0 15px 30px;
    width: 40%;
}

.service-left-list i {
    color: #ffb606;
    margin-right: 20px;
}

.service-left-list {
    display: flex;
    font-size: 1.5em;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0px;
    padding: 20px 0;
}

.service-left-list {
    font-size: 24px;
}

.service-left-list p:hover {
    color: gold;
    cursor: pointer;
}

.service-right {
    max-width: 60%;
}

.service-right img {
    width: 685px;
    height: 515px;
}

/* customer */

.customer-child {
    display: flex !important;
    height: 265px;
    margin: 0 170px 70px 170px;
}

.carousel-indicators .active {
    background-color: #000!important;
}

.carousel-indicators li {
    border: 1px solid #000 !important;
}

.img-customer-child img {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    border-radius: 999px !important;
    object-fit: cover;
}

.text-customer-child i {
    font-size: 24px;
    margin-top: 60px;
    color: gold;
}

.text-customer-child p {
    margin-top: 5px;
    font-size: 1.2em;
    color: #898989;
    line-height: 30px;
    margin-bottom: 1.3em;
}

.text-customer-child {
    padding-left: 16px;
}

.text-customer-child h5 {
    font-size: 20px;
    font-weight: 700;
}

#footer {}

.footer-item {
    display: flex;
    padding-top: 50px;
    background-color: #464646;
}

.footer-item-list {
    width: 24%;
    margin-left: 30px;
}

.footer-item-list>.logo-footer {
    width: 270px;
}

.footer-item-list p {
    color: #a4a4a4;
    font-size: 15px;
    margin-bottom: 0.8em;
    padding-top: 22px;
}

.icon-logo-footer i {
    color: white;
    opacity: 0.7;
    padding-right: 10px;
    font-size: 20px;
}

.icon-logo-footer i:hover {
    color: #ffb606;
}

#contact {
    padding: 5px 0 0 20px;
}

#contact h5 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

#contact-child p {
    font-size: 14px;
}

.hollow {
    background: #ffb606;
    height: 1px;
    width: 40px;
}

#contact-child i {
    color: white;
    padding-right: 17px;
}

#address {
    display: flex;
    padding-bottom: 7px;
}

#address>i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#email {
    padding-bottom: 7px;
    margin-top: -17px;
    display: flex;
}

#email a {
    text-decoration: none;
    color: #a4a4a4;
}

#email a:hover {
    color: #ffb606;
}

#email i {
    margin-top: 25px;
}

.contact-child-items {
    display: flex;
    padding-bottom: 7px;
}

.contact-child-items a {
    text-decoration: none;
    color: #a4a4a4;
}

.contact-child-items a:hover {
    color: #ffb606;
}

#link-child {
    padding: 5px 0 0 20px;
}

#link-child h5 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

#link-child.hollow {
    background: #ffb606;
    height: 1px;
    width: 40px;
}

#link-child ul {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#link-child ul li {
    padding: 6px 0;
    list-style: none;
    color: #a4a4a4;
    font-size: 14px;
}

#link-child ul li a {
    color: #a4a4a4;
}

#link-child ul li a:hover {
    color: #ffb606;
    text-decoration: none;
}

.footer-item-list .img-footer {}

.img-child {
    padding: 5px 0 0 20px;
}

.img-child h5 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.img-child .hollow {
    background: #ffb606;
    height: 1px;
    width: 40px;
}

.img-child .img-footer {
    padding-top: 20px;
}

.img-child .img-footer img {
    width: 86px;
    padding-right: 3px;
}

.img-footer-child {
    display: flex;
    padding: 2px 3px;
}

.banquyen {
    background-color: #000;
}

.banquyen-child {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.banquyen-child img {
    width: 20px;
}

.banquyen-child a strong {
    columns: #a4a4a4;
}

.banquyen-child a:hover {
    text-decoration: none;
    color: #fff;
}

/* GOTOTOP */

div#gototop {
    font-size: 30px;
    display: block;
    padding: 3px 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 10000000;
    opacity: 0.7;
}

div#gototop a {
    color: rgba(0, 0, 0, 0.6);
}

div#gototop a:hover {
    color: white;
}

div#gototop:hover {
    background-color: gold;
}

/* Mobile nav */

.nav__bars-btn {
    font-size: 30.4px;
    color: #000;
    margin: 15px 30px 20px 0;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: white;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s;
}

.nav__mobile .input-search {
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 35px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #a3a1a1;
    margin-left: 30px;
    margin-top: 85px;
}
.nav__mobile input[type="text"] {
    width: 190px;
    height: 35px;
}
.nav__mobile .input-search i {
    display: flex;
    position: absolute;
    right: 99px;
    width: 40px;
    top: 86px;
    height: 35px;
    background: #ffb606 !important;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.nav__mobile .input-search i:hover {
    background-color: rgb(163, 115, 2);
}

.nav__mobile-list {
    margin-top: 24px;
}

.nav__mobile-list li a {
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: serif;
    border-bottom: 0.5px solid #ccc;
}

.nav__mobile-list li>a:hover {
    text-decoration: none;
    color: gold;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav__mobile-list-icon {
    margin-left: 20px;
}

.nav__mobile-list-icon a {
    color: #000;
    font-size: 22px;
}

.nav__mobile-list-icon a i {
    padding: 20px 5px;
}

.nav__mobile-close {
    font-size: 1.6rem;
    position: absolute;
    color: #666;
    top: 1rem;
    right: 1rem;
}

.nav-input:checked~.nav__overlay {
    display: block;
}

.nav-input:checked~.nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

@keyframes fadeIn {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}