/*Smart phone nhá»*/
@media all and (min-width:320px)and (max-width: 480px) {
    .img_logo{
        width: 200px;
            margin-left: 10%;
        
    }
    #header{
        padding-left: 25px;
    }
    .event h5{
        font-size: 17px;
    }  
    form {
        top: 41px;
        position: relative;
        width: 290px;
        height: 570px;
        right: 0px;
        left: 5%;
    }
    .img_logo img{
        width: 200px;
    }
    label {
        padding: 0px 0;
    }
    div.subtext p {
        padding: 5px 5px;
        text-align: center;
    }
    .content-item-1 {
        margin-top: -40px;
    }
    .content-item-1>.text-1>h1{
        font-size: 30px;
    }
    div.items{
        flex-direction: column;
        align-items: center;
    }
    div.item-1 {
        padding: 0 5px;
    }
    div.item-1:first-child {
        margin-left: 15px;
    }
    div.item-1:last-child {
        margin-right: 15px;
    }
    div.item-1 p{
        margin-left: 20%;
    }
    .content-item-2 .text-2{
        flex-direction: column;
        margin-left: 10px;
    }
    .content-item-2 h2 {
        font-size: 25px;
    }
    .content-item-2 .text-2 button{
        margin-left: 70px;
    }
    
    div.rooms {
        margin: 50px 0px;
    }
    div.rooms:first-child {
        margin-left: 0px;
    }
    div.rooms:last-child {
        margin-right: 0px;
    }
    div.room h3{
        font-size: 20px;
    }
    .text-background {
        top: 15%;
        left: 3%;
        text-align: center;
    }
    div.counter-item .counter{
        font-size: 40px;
        padding: 0 40px;
        justify-content: space-evenly;
    }
    div.counter-item h3{
        font-size: 22px;
      text-align: center;
    }
    .counter-content {
        flex-wrap: wrap;
        padding: 0 0;
    }
    .new-left{
        flex-direction: column;
        height: 1530px;
    }
    .new-item{
        flex-direction: column;
    }
    div.sub:first-child {
        margin-left: 15px;
    }
    .new-right{
        margin-right: 0;
        margin: 0 0;
    }
    .footer-item-list>.logo-footer {
        width: 170px;
    }
    .footer-item {
        flex-wrap: wrap;
        padding: 5px 0;
    }
    .footer-item-list {
        width: 99%;
        margin-left: 20px;
    }
    .footer-item-list:first-child{
        margin-left: 40px;
    }
    
 }
@media all and (min-width: 480px) and (max-width: 768px) {
    .img_logo{
        margin-left: 25%;
    }
    form{
        position: relative;
        top: 50px;
        right: 0px;
         left: 25%;
    }
    div.items {
        flex-direction: column;
        align-items: center;
    }
    div.item-1 p{
        margin-left: 125px;
    }
    div.item-1:first-child {
        margin-left: 15px;
    }
    div.item-1:last-child {
        margin-right: 15px;
    }
    .content-item-2 .text-2{
        flex-direction: column;
        align-items: center;
    }
    .content-item-2 h2 {
        font-size: 25px;
    }
    div.subtext {
    margin-left: 30px;
}
    .content-item-2 .text-2 button{
        margin-left: 70px;
    }
    .content-item-2 .text-2 {
        margin-left: 0px;
    }
    
    div.rooms {
        margin: 50px 0px;
    }
    div.rooms:first-child {
        margin-left: 0px;
    }
    div.rooms:last-child {
        margin-right: 0px;
    }
    .text-background {
        top: 15%;
        left: 2%;
        text-align: center;
    }
    div.counter-item .counter{
        font-size: 40px;
        padding: 0 40px;
        justify-content: space-evenly;
    }
    div.counter-item h3{
        font-size: 22px;
      text-align: center;
    }
    .counter-content {
        flex-wrap: wrap;
        padding: 0 75px;
    }
    .new-left{
        flex-direction: column;
        height: 1530px;
    }
    .new-item{
        flex-direction: column;
    }
    div.sub:first-child {
        margin-left: 15px;
    }
    .new-right{
        margin-right: 0;
        margin: 0 0;
    }
    .footer-item-list>.logo-footer {
        width: 170px;
    }
    .footer-item {
        flex-wrap: wrap;
        padding: 5px 0;
    }
    .footer-item-list {
        width: 99%;
        margin-left: 20px;
    }
    .footer-item-list:first-child{
        margin-left: 40px;
    }
}
@media all and (min-width: 769px) and (max-width: 1023px) {
    
    #header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main{
        margin: 0 20px;
    }
    .img_logo {
        width: 20%;
    }
    .img_logo img{
        width: 275px;
    }
    .header-right{
        width: 100%;
    }
    #input-search{
        right: 70px;
    }
    form{
        position: relative;
        top: 25px;
        width: 400px;
        height: 615px;
        right: 0;
        margin-left: 30%;
    }
    .title-form {
        margin-top: 5px;
    }
    form label{
        margin-bottom: 0;
    }
    div.item-1:first-child {
        margin-left: 25px;
    }
    div.item-1:last-child {
        margin-right: 25px;
    }
    div.items{
        flex-wrap: wrap;
    }
    div.rooms{
        flex: none;
        width: 42%;
    }
    div.rooms img {
        height: 250px;
    }
    div.room button {
        margin-right: 20px;
    }
    div.room h3{
        font-size: 22px;
        }
    div.room h3 b{
        font-size: 20px;
    }
    div.sub > .sub-img img {
        height: 170px;
        width: 352px;
    }
    div.rooms:last-child{
        margin-left: 65px  ;
    }
    .text-background{
        top: 20%;
        left: 7%;
    }
    .new-left{
        flex-wrap: wrap;
        height: 1000px;
    }
    .new-right{
        width: 305px;
        height: 375px;
    }
    .event-list img {
        width: 200px;
        height: 100px;
    }
    div.sub:first-child {
        margin-left: 25px;
    }
    div.sub:last-child{
        margin-right: 25px;
    }
    .event{
        margin-bottom: 35px;
        padding-top: 10px;
    }
    .event h5{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        padding: 0 20px;
    }
    .new-right h3 {
        margin-top: -64px;
        margin-bottom: 38px;
    }
    .footer-item{
        flex-wrap: wrap;
    }
    .img-child .img-footer img {
            width: 70px;
        }
    .img-child {
            padding: 5px 12px 0 20px;
        }
    .footer-item-list {
            width: 45%;
            margin-left: 25px;
        }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    #header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main{
        margin: 0 20px;
    }
    .header-right{
        width: 100%;
    }
    #input-search{
        right: 70px;
    }
    form{
        position: relative;
        top: 25px;
        width: 310px;
        height: 615px;
        right: 0;
        margin-left: 680px;
    }
    .title-form {
        margin-top: 5px;
    }
    form label{
        margin-bottom: 0;
    }
    div.item-1:first-child {
        margin-left: 25px;
    }
    div.item-1:last-child {
        margin-right: 25px;
    }
    div.rooms:first-child {
        margin-left: 20px;
    }
    div.rooms:last-child {
        margin-right: 20px;
    }
    div.rooms img {
        height: 250px;
    }
    div.room button {
        margin-right: 20px;
    }
    div.room h3{
        font-size: 22px;
        }
    div.room h3 b{
        font-size: 20px;
    }
    div.sub > .sub-img img {
        height: 170px;
        width: 300px;
    }
    .new-right{
        width: 305px;
        height: 370px;
    }
    .event-list img {
        width: 130px;
        height: 75px;
    }
    div.sub:first-child {
        margin-left: 25px;
    }
    div.sub:last-child{
        margin-right: 25px;
    }
    .event{
        margin-bottom: 35px;
        padding-top: 10px;
    }
    .event h5{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        padding: 0 20px;
    }
    .new-right h3 {
        margin-top: -64px;
        margin-bottom: 38px;
    }
    .img-child .img-footer img {
            width: 70px;
        }
    .img-child {
            padding: 5px 12px 0 20px;
        }
    .footer-item-list {
            width: 25%;
            margin-left: 25px;
        }
 }



/* mobile */
@media(max-width:812px){
    .nav__bars-btn{
        display: block;
    }
    .main{
        display: none;
    }
    .header-right{
        display: none;
    }
    
}